<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">

	<title>My CRM</title>
</head>
<body>
  <h1 id="second"><a href="https://www.google.com">log in</a></h1>

	<h1 id="first">Welcome to Scott Walsh <%= @crm_app_name %></h1>
	<p>Main menu</p>
	<ul>
  	<li><a href="/contacts">View all contacts</a></li>
  	</ul>
  	<ul>
  		<li><a href="/contacts/new">Add a contact</a></li>
  	</ul>
</body>
</html>
