<!DOCTYPE html>
<html lang="en">
<header>
	<h3><em>Scott's Rolodex</em></h3>
</header>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Scott's</title>
</head>
<body>
	<nav>
	<%= yield %>
	</nav>	
	<img class="displayed"src="http://static1.squarespace.com/static/54a854d9e4b0f7d742e0cf8e/54aef25ae4b0e8a16196d7b9/55498a76e4b0083d7a146d6c/1430883276662/GP1114.jpg?format=750w"/>
	<img class="displayed"src="http://static1.squarespace.com/static/54a854d9e4b0f7d742e0cf8e/54aef25ae4b0e8a16196d7b9/55498a5fe4b0083d7a146d0e/1430883276680/GP1087.jpg?format=750w"/>
</body>
<footer>
	<h4><em>This is a footer!</em></h4>	
</footer>
</html>