<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Scott's</title>
</head>
<header>
</header>

<body>
	<nav>
	<%= yield %>

	<br><img class="displayed"src="https://static1.squarespace.com/static/54a854d9e4b0f7d742e0cf8e/54aeef82e4b05f73a04123ff/55099de9e4b06b9436a225cd/1426693610679/IMG_0319.JPG?format=750w"/>

</body>
<footer>
	<h4><em>Thanks for stopping by!</em></h4>	
</footer>
</html>