<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<form method="get" action="/">
<button type="submit">Home</button>
</form>

	<h1>Create new Contact</h1>

<form action="/contacts" method="post">
  <input type="text" name="first_name" placeholder="First Name">
  <input type="text" name="last_name" placeholder="Last Name">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="notes" placeholder="Notes">
  <input type="submit" name="Submit">
</form>

</body>
</html>