p {
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	background-color: #C8C8C8;
	padding-left: 20px;

}

body {
	background-color: #D8D8D8;
}

#first {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h3 {
	text-align: center;
	text-decoration: underline;
}

#second {
	text-align: right;
	font-size: 15px
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

footer {
	text-align: center;
	font-size: 10px
}



.hightlight {
	background-color: aqua;
}

#third {
	border-collapse: 10px;
	text-align: left;
	font-size:20px;

}

ul {
	text-align: left;
	border: solid;
}

h1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

